/* style.css */
/* Custom styles for Landux template */

a {
  transition: color 0.3s ease;
}
a.active {
  color: red;
}
/* Add additional custom styles as needed */
body {
  font-family: "Poppins", sans-serif;
}
header {
  height: 11vh;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1111;
  background-color: white;
  box-shadow: none;
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
  opacity: 0;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* Image */
img {
  user-select: none !important;
}

/* Mobile Navigation */
div.menuBar {
  transition: all linear 250ms;
}
div.menuBar span {
  width: 100%;
  height: 3px;
  background-color: black;
  position: absolute;
  border-radius: 30px;
  transition: all linear 250ms;
}
div.menuBar span:nth-child(1) {
  transform: translateY(-8px);
  width: 70%;
}
div.menuBar.active span:nth-child(1) {
  transform: translateY(0%) rotate(45deg);
  width: 100%;
}

div.menuBar span:nth-child(2) {
  transform: translateY(0px);
  width: 90%;
}
div.menuBar.active span:nth-child(2) {
  transform: translateX(70px);
  width: 90%;
}

div.menuBar span:nth-child(3) {
  transform: translateY(8px);
  width: 50%;
}
div.menuBar.active span:nth-child(3) {
  transform: translateY(0%) rotate(315deg);
  width: 100%;
}
/* Drawer CSS */
.mobile-nav-drawer {
  position: fixed;
  top: 11vh; /* excluding header height*/
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 111;
  display: none;
  animation: drawerOpen 250ms ease-in-out forwards;
}
@keyframes drawerOpen {
  to {
    opacity: 1;
  }
}
.mobile-nav-drawer.open {
  display: block;
}
